.about-us-container{
  max-width: 100%;
  padding: var(--static-page-vertical-padding) var(--page-margin) ;
}

.about-us-container .image-container{
  margin-inline: auto;
  margin-top: 27px;
  max-width: 571px;
  max-height: 382px;
  overflow: hidden;
  border-radius: var(--button-border-radius);
}

.about-us-container .image-container img{
  width: 102.3%;
  position: relative;
  right: 5px;
}

.about-us-container h4 {
  font-weight: 500;
  margin: 27px 0 0;
}

.about-us-container p {
  margin: 21px 0;
}

.about-us-container ul {
  padding: 0 15px;
}

.about-us-container li {
  font-weight: 500;
  margin-top: 3px;
}

@media only screen and (max-width: 770px) {
  .about-us-container{
    margin-inline: auto;
    padding: 14px 0;
    max-width: 485px;
  }
}

@media only screen and (max-width: 550px) {
  .about-us-container{
    margin-inline: max(var(--responsive-margin-percentage), var(--responsive-margin-px));
  }
}