.contact-page-container{
  margin-left: var(--page-margin);
  display: flex;
  background-image: url('../../Resources/Img_Contact.png');
  background-repeat: no-repeat;
  background-position: 540px -49px;
  background-size: 495px;
  min-height: 913px;
}

.contact-page-container .form-container{
  min-height: 733px;
  padding: var(--static-page-vertical-padding) 0;
  max-width: 485px;
}

.contact-us-form{
  /* min-height: 733px;
  padding: var(--static-page-vertical-padding) 0;
  max-width: 485px; */
}

.contact-us-form .first-line{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--contact-form-column-gap);
}


.contact-us-form .form-element input, .contact-us-form .form-element textarea, .contact-us-form .form-element .custom-checkbox {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  background-color: #f8f9fc;
  border: 2px solid #edeeee;
  border-radius: var(--button-border-radius);
  margin: 6px 0;
  resize: none;
}

.contact-us-form .form-element textarea{
  height: 124px;
}

.contact-us-form button.form-element {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
}

.contact-us-form .form-element {margin: 2.5px 0; width: 100%;}

.contact-us-form label {
  font-weight: 400;
  font-size: var(--static-body-font-size);
  text-shadow: 0 0 0.5px var(--dark-text-color);
  color: var(--dark-text-color);
}

.contact-us-form label .sub-label {
  color: #c3c4c7;
  text-shadow: 0 0 0.5px #c3c4c7;
}

.form-element#Message .sub-label{float: right;}

.contact-us-form p.static-text{margin-bottom: 18px;}

button[type="submit"].form-element{
  height: 37px;
  padding-inline: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
}

button[type="submit"].form-element img{
  height: 100%;
  float: left;
}

button[type="submit"].form-element span{
  position: relative;
  right: 16.25px;
  font-weight: bold;
}

.message-sent{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9f4da;
  height: 200px;
  max-width: 100%;
}

.message-sent .tick-container {
  background-color: #8ec73d;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-sent .tick-container img{
  width: 50px;
}