
.contact-us-form .first-line{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-us-form{
  padding: var(--static-page-vertical-padding) 0px;
  max-width: 485px;
}

.contact-us-form .form-element input, .contact-us-form .form-element textarea, .contact-us-form .form-element .custom-checkbox {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  background-color: #f8f9fc;
  border: 2px solid #edeeee;
  border-radius: var(--button-border-radius);
  margin: 6px 0;
}

.contact-us-form .form-element textarea{
  height: 124px;
}

.contact-us-form button.form-element {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
}

.contact-us-form .form-element {margin: 2.5px 0; width: 100%;}

.contact-us-form label {
  font-weight: 400;
  font-size: var(--static-body-font-size);
  text-shadow: 0 0 0.5px var(--dark-text-color);
  color: var(--dark-text-color);
}

.contact-us-form label .sub-label {
  color: #c3c4c7;
  text-shadow: 0 0 0.5px #c3c4c7;
}

.form-element#Message .sub-label{float: right;}

.contact-us-form p.static-text{margin-bottom: 18px;}