.contact-us-form .form-element input[type="checkbox"]{
  width: unset;
  height: unset;
  opacity: 0;
  position: absolute;
}

.contact-us-form .form-element#bIncludeAddressDetails {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-us-form .form-element .custom-checkbox{
  width: 15px;
  height: 15px;
  margin-right: 7px;
}