:root{
  --navbar-button-margin: 17px;
  --navbar-font-size: 11px;
}
.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding-inline: var(--page-margin);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.navbar #logo {
  height: 25px;
}

.nav-button{
  flex-grow: 0;
  flex-shrink: 0;
  margin-inline: var(--navbar-button-margin);
}

.nav-button button {
  padding: 0;
  height: 100%;
  background: none;
  border: none;
  font-size: var(--navbar-font-size);
  font-weight: 200;
  color: var(--dark-text-color);
  text-shadow: 0 0 1.5px var(--dark-text-color);
  letter-spacing: 1.3px;
}

.buttons-container #login-button {
  margin-left: var(--navbar-button-margin);
  border:none;
  background-color: #eef7ff;
  height: 70%;
  width: 95px;
  color: #3c83bc;
  font-size: var(--navbar-font-size);
  text-shadow: 0 0 1.5px #3c83bc;
}

.navbar .buttons-container {
  height: 100%;
}
