
.swiper-element{
  /* display: flex; */
  width: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* margin-inline: var(--page-margin); */
  color: whitesmoke;
}

.carousel-container{
  height: 420px;
  background-size: 1600px;
  background-clip: border-box;
  background-position-x: center;
  background-position-y: 26.5%;
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  /* overflow: hidden; */
}

.swiper-element .h{
  margin: 0%;
}

.swiper-element h3{
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 27px;
}

.swiper-element .content {
  display: flex;
  flex-direction: column;
  margin-top: 129px;
}