
.swiper-element{
  /* display: flex; */
  width: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* margin-inline: var(--page-margin); */
  color: whitesmoke;
}

.carousel-container{
  height: 420px;
  background-clip: border-box;
  background-size: cover;
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  /* justify-content: space-between; */
  /* overflow: hidden; */
}

.carousel-container#swiper_image_1 {
  background-position-x: center;
  background-position-y: 26.5%;
}

.carousel-container#swiper_image_2 {
  background-position-x: center;
  background-position-y: 50%;
  /* background-position-y: -307px; */
}

.carousel-container#swiper_image_3 {
  background-position-x: center;
  background-position-y: 10%;
  /* background-position-y: -45px; */
}

.swiper-element .h{
  margin: 0%;
}

.swiper-element h3{
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 27px;
}

.swiper-element .content {
  display: flex;
  flex-direction: column;
  margin-top: 129px;
}

@media screen and (max-width: 630px) {

  .carousel-container .swiper-element{
    position: absolute;
    margin-inline: max(var(--responsive-margin-percentage), var(--responsive-margin-px));
    max-width: fit-content;
  }
}
