
.static-card {
  box-sizing: border-box;
  padding: 50px var(--page-margin);
  /* padding: 50px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
}

.static-card h2 {
  margin: 0%;
  font-size: 20px;
  font-weight: 300;
  color: var(--dark-text-color);
  text-shadow: 0 0 1.5px var(--dark-text-color);
}

.static-card p, .static-card li {
  line-height: 20px;
  font-size: 11.5px;
  color: var(--dark-text-color);
  text-shadow: 0 0 0.5px var(--dark-text-color);
  margin: 22px 0;
}

.static-card .card-element{
  flex: 1 1;
  max-width: 45%;
  box-sizing: border-box;
  object-fit: contain;
  border-radius: var(--button-border-radius);
}

.static-card ul {
  padding-left: 1.2em;
  margin: 26px 0;
}

.static-card li {
  margin: 8px 0;
  line-height: unset;
  font-weight: 500;
}

/* first card */
.static-card#first img {
  width: 104%;
  position: relative;
  bottom: 19px;
}

.static-card#first .card-element#picture {
  max-height: 300px;
  overflow: hidden;
}
/* second card*/
.static-card#second {
  max-height: 406px;
  background-image: url("../../Resources/shutterstock_1302552622.jpg");
  background-position-x: center;
  background-position-y: -49px;
  background-size: 1530px;
  max-height: fit-content;
}

.static-card#second .card-element {
  padding: 25px 27px;
  background-color: #3e352db3;
  max-height: 340px;
  min-width: 340px;
}

#second .card-element h2,#second .card-element p {
  color: var(--white-text-color);
}

.static-card#second .light-button {
  width: 115px;
}

/* third card */
.static-card#third {
  flex-direction: column;
  align-items: center;
}

.static-card#third .paragraph-container {
  column-count: 3;
  margin: 20px 0;
  margin-bottom: 27px;
  column-gap: 40px;
}

.static-card#third .paragraph-container p {
  margin-top: 0%;
}

.static-card#third h2 {
  text-align: center;
}

.static-card#third h3 {
  font-size: 15px;
  margin: 7px 0;
  font-weight: 400;
  color: var(--dark-text-color);
  text-shadow: 0 0 1.5px var(--dark-text-color);
}

@media only screen and (max-width: 550px) {
  .static-card#third .paragraph-container{
    column-count: unset !important;
    display: unset;
  }
}

@media screen and (max-width: 1120px) {
  .static-card#first, .static-card#third{
    max-width: 755px;
    box-sizing: unset;
    padding-inline: 0;
    margin-inline: auto;
  }
}

@media screen and (max-width: 850px) {
  .static-card#first{
    flex-direction: column-reverse;
    max-width: unset;
  }

  .static-card#second{
    background-position-x: 65%;
  }

  .static-card#first .card-element{
    max-width: unset;
    /* margin-inline: max(var(--responsive-margin-percentage), var(--responsive-margin-px)); */
  }

  .static-card#third .paragraph-container{
    column-count: 2;
  }

  .static-card {
    padding-inline: max(var(--responsive-margin-percentage), var(--responsive-margin-px)) !important;
    
  }
}

@media screen and (max-width: 640px) {
  .static-card#second{
    background-position-y: 50%;
    background-size: cover;
    background-position-x: center;
  }
}

@media screen and (max-width: 440px) {
  .main-page.blue-button {
    width: 100%;
  }

  .static-card#second {
    padding-inline: 0;
    align-items: center;
    padding-inline: max(var(--responsive-margin-percentage), var(--responsive-margin-px)) !important;
  }

  .static-card#third{
    display: block;
  }
  
  .static-card#second .card-element, .static-card#second .card-element .light-button{
    min-width: 100%;
  }
}