:root {
  /* --element-width: 486px */
}

.static-card {
  box-sizing: border-box;
  padding: 50px var(--page-margin);
  /* padding: 50px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
}

.static-card h2 {
  margin: 0%;
  font-size: 20px;
  font-weight: 300;
  color: var(--dark-text-color);
  text-shadow: 0 0 1.5px var(--dark-text-color);
}

.static-card p, .static-card li {
  line-height: 20px;
  font-size: 11.5px;
  color: var(--dark-text-color);
  text-shadow: 0 0 0.5px var(--dark-text-color);
  margin: 22px 0;
}

.static-card .card-element{
  flex: 1 1;
  max-width: 45%;
  box-sizing: border-box;
  object-fit: contain;
  border-radius: var(--button-border-radius);
}

.static-card ul {
  padding-left: 1.2em;
  margin: 26px 0;
}

.static-card li {
  margin: 8px 0;
  line-height: unset;
  font-weight: 500;
}

/* first card */
.static-card#first img {
  width: 104%;
  position: relative;
  bottom: 19px;
}

.static-card#first .card-element#picture {
  max-height: 300px;
  overflow: hidden;
}
/* second card*/
.static-card#second {
  height: 406px;
  background-image: url("../../Resources/shutterstock_407632243.jpg");
}

.static-card#second .card-element {
  padding: 25px 27px;
  background-color: #635d58;
}

#second .card-element h2,#second .card-element p {
  color: var(--white-text-color);
}

/* third card */
.static-card#third {
  flex-direction: column;
  align-items: center;
}

.static-card#third .paragraph-container {
  column-count: 3;
  margin: 20px 0;
  margin-bottom: 27px;
  padding-inline: 24px;
  column-gap: 40px;
}

.static-card#third .paragraph-container p {
  margin-top: 0%;
}

.static-card#third h3 {
  font-size: 15px;
  margin: 7px 0;
  font-weight: 400;
  color: var(--dark-text-color);
  text-shadow: 0 0 1.5px var(--dark-text-color);
}