.carousel-button{
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  width: var(--page-margin);
  align-items: center;
  background-color: transparent;
}

.carousel-button .inner-button{
  background-color: #eeeeee42;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 0 3px 3px 0;
  border-width: 0;
  border-style: none;
}

.carousel-button#left{
  justify-content: flex-start;
}

.carousel-button#right{
  /* justify-content: flex-end; */
  transform: scaleX(-1);
}

.inner-button .arrow {
  height: 10px;
}

@media screen and (max-width: 630px) {
  .carousel-button{
    width: 50%;
  }

  .carousel-button .inner-button{
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .blue-button.swiper-link-button{
    width: 100%;
  }
}